<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.AqiFeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.AqiFeedback">
        <id column="af_id" property="af_id" />
        <result column="tel_id" property="tel_id" />
        <result column="province_id" property="province_id" />
        <result column="city_id" property="city_id" />
        <result column="address" property="address" />
        <result column="information" property="information" />
        <result column="estimated_grade" property="estimated_grade" />
        <result column="af_date" property="af_date" />
        <result column="af_time" property="af_time" />
        <result column="gm_id" property="gm_id" />
        <result column="assign_date" property="assign_date" />
        <result column="assign_time" property="assign_time" />
        <result column="state" property="state" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        af_id, tel_id, province_id, city_id, address, information, estimated_grade, af_date, af_time, gm_id, assign_date, assign_time, state, remarks
    </sql>

</mapper>
